<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>API usando NodeJS</title>
</head>
<body>
  <h1>API RESTful usando NodeJS y Express</h1>
  <p><a href="/login">Inicia sesión</a></p>
  {{{ body }}}
</body>
</html>