<p>Lista de Autos</p>
<script type="text/javascript">
  let autoList = document.createElement('ul');

  const myHeaders = new Headers();
  myHeaders.append('authorization', `Bearer ${localStorage.token}`)
  
  fetch('/api/auto', {
    method: 'GET',
    headers: myHeaders
  })
  .then(res => res.json())
  .then(data => {
    data.autos.map(auto => {
      let nombre = document.createTextNode(auto.nombre)
      let marca = document.createTextNode(auto.marca)
      let modelo = document.createTextNode(auto.modelo)
      let costo = document.createTextNode(auto.costo)
     
      let elem = document.createElement('li')
      let np = document.createElement('p');
      let ep = document.createElement('p');
      let tp = document.createElement('p');
     
      
      
      elem.appendChild(nombre)
      np.appendChild(marca)
      ep.appendChild(modelo)
      tp.appendChild(costo)
      
      autoList.appendChild(elem)
      autoList.appendChild(np)
      autoList.appendChild(ep)
      autoList.appendChild(tp)
    })

    document.body.appendChild(autoList);
  })
</script>